# Скопируй в .env и заполни. Реальный .env в git НЕ коммитим.
NODE_ENV=development

# api
API_PORT=3001
DATABASE_URL=postgres://user:pass@localhost:5432/mn

# web
NEXT_PUBLIC_API_URL=http://localhost:3001
