# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env / secrets
.env
.env.*
!.env.example

# mobile / expo
.expo/
apps/mobile/ios/
apps/mobile/android/

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.log
